<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title>Here you go!</title>
    </head>
    <body>
        <div class="text-center">
            <h2>
            Don't worry! Just match your number against this regular expression.
            </h2>
            <a class="btn btn-primary btn" href="/">Back</a>
            <br>
            <br>
            {{regex}}
        </div>
    </body>
</html>
