<!doctype html>

<!-- Yes I'm including all of Bootstrap for a dropdown menu. I know. -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<div class="text-center">
<h2>
Don't worry! Just match your number against this regular expression.
</h2>
<a class="btn btn-primary btn" href="/">Back</a>
<br>
<br>
{{regex}}
</div>
